<div class="col-md-12">
  <div class="table-responsive table-container">
    <input type="text" [(ngModel)]="searchText" placeholder="Search..." class="border-dark"
      style="width: 340px;" />
    <table class="table">
      <tr>
        <label>First Name:
          <input [(ngModel)]="userData.firstName" placeholder="First Name" />
        </label><br>
        <label>Last Name:
          <input [(ngModel)]="userData.lastName" placeholder="Last Name" />
        </label><br>
        <label>Employee ID:
          <input [(ngModel)]="userData.employeeId" placeholder="Employee ID" />
        </label><br>
        <button (click)="addUser()" ng-hide="IsUpdateVisible" ng-show="IsAddVisible" class="btn btn-info"> Add</button>
        <button (click)="updateUser()" ng-click="hideUpdate()" ng-hide="IsAddVisible" ng-show="IsUpdateVisible" class="btn btn-info"> Update</button>
        <button (click)="reset()" style="margin-left: 20px;" class="btn btn-info"> Reset</button>
      </tr>
      <tr *ngFor="let user of users | filter: searchText">
        <td class="hidden">{{user.userId}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.employeeId}}</td>
        <td>
          <button (click)="deleteUser(user)" class="btn btn-info"> Delete</button>
          <button (click)="editUser(user)" ng-click="hideAdd()" style="margin-left: 20px;" class="btn btn-info">
            Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>