<div *ngIf="errorPresent" style="width: 545px;" class="alert alert-danger" role="alert">{{errorMsg}}</div>

<div mat-dialog-content style="padding-left: 20px; padding-top: 10px;">
  <label style="width: 100px;"> Project: </label>
  <input type="hidden" [(ngModel)]="taskData.projectId" />
  <input disabled [(ngModel)]="taskData.project" style="width: 350px;" />
  <button mat-stroked-button [disabled]="isEditTask" (click)="openProjectDialog()"> Search </button>
</div>

<div mat-dialog-content style="padding-left: 20px; padding-top: 10px;">
  <label style="width: 100px;"> Task: </label>
  <input [(ngModel)]="taskData.task" style="width: 350px;" required/>
  <br>
  <label style="width: 100px;"> </label>
  <input type="checkbox" id="parentTask" [disabled]="isEditTask" [(ngModel)]="isParentTask"/> Parent Task
</div>

<div mat-dialog-content style="padding-left: 20px; padding-top: 10px;">
  <label style="width: 100px;"> Priority: </label>
  0<input id="priority" [disabled]="isParentTask" style="padding-top: 10px;" width="400" type="range" value="0" list="tickmarks" step="1" min="0"
    max="30" [(ngModel)]="taskData.priority">30
  <datalist id="tickmarks">
    <option value="0" label="0">
    <option value="1">
    <option value="2">
    <option value="3">
    <option value="4">
    <option value="5">
    <option value="6">
    <option value="7">
    <option value="8">
    <option value="9">
    <option value="10">
    <option value="11">
    <option value="12">
    <option value="13">
    <option value="14">
    <option value="15">
    <option value="16">
    <option value="17">
    <option value="18">
    <option value="19">
    <option value="20">
    <option value="21">
    <option value="22">
    <option value="23">
    <option value="24">
    <option value="25">
    <option value="26">
    <option value="27">
    <option value="28">
    <option value="29">
    <option value="30" label="30">
  </datalist>
</div>

<div mat-dialog-content style="padding-left: 20px; padding-top: 10px;">
  <label style="width: 100px;"> Parent Task: </label>
  <input type="hidden" [(ngModel)]="taskData.parentId" />
  <input disabled [(ngModel)]="taskData.parent" style="width: 350px;" />
  <button mat-stroked-button (click)="openParentDialog()"> Search </button>
</div>

<div mat-dialog-content style="padding-left: 20px; padding-top: 10px;">
  <label style="width: 100px;"> Start Date: </label>
  <input id="startDate" [disabled]="isParentTask" type="date" [(ngModel)]="taskData.startDate" />
  <label style="width: 75px;"> End Date: </label>
  <input id="endDate" [disabled]="isParentTask" type="date" [(ngModel)]="taskData.endDate" />
</div>

<div mat-dialog-content style="padding-left: 20px; padding-top: 10px;">
  <label style="width: 100px;"> User: </label>
  <input type="hidden" [(ngModel)]="taskData.userId" />
  <input type="text" disabled [(ngModel)]="taskData.user" style="width: 350px;" />
  <button mat-stroked-button (click)="openUserDialog()"> Search </button>
</div>

<div mat-dialog-content style="padding-left: 20px; padding-top: 20px;">
  <div style="width: 525px; text-align: right;">
    <div *ngIf="showAdd" style="display: inline-block; width: 100px;">
      <button mat-stroked-button (click)="createTask()" style="margin-left: 20px;"> Add </button>
    </div>
    <div *ngIf="showUpdate" style="display: inline-block; width: 100px;">
      <button mat-stroked-button (click)="updateTask()" style="margin-left: 20px;"> Update </button>
    </div>
    <div style="display: inline-block; width: 100px;">
      <button mat-stroked-button (click)="reset()" style="margin-left: 20px;"> Reset </button>
    </div>
  </div>
</div>