<div class="container-fluid" style="padding-left: 20px">
  <div class="row" style="width: 1000px;">

    <div mat-dialog-content style="padding-left: 20px; padding-top: 10px;">
      <label style="width: 100px;"> Project: </label>
      <input disabled [(ngModel)]="projectName" />
      <button mat-stroked-button (click)="openDialog()"> Search </button>
    </div>
    <div style="width: 100px;"> </div>
    <div mat-dialog-content style="padding-left: 20px; padding-top: 10px;">
      <label style="width: 100px;"> Sort Task By: </label>
      <button mat-stroked-button (click)="sortByStart()">Start Date</button>
      <button mat-stroked-button (click)="sortByEnd()">End Date</button>
      <button mat-stroked-button (click)="sortByPriority()">Priority</button>
      <button mat-stroked-button (click)="sortByStatus()">Completed</button>
    </div>

  </div>

  <div class="row">
    <table class="table">
      <thead>
        <th>Task Id</th>
        <th>Task</th>
        <th>Parent</th>
        <th>Priority</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </thead>
      <tr *ngFor="let task of tasks">
        <td class="hidden">{{task.taskId}}</td>
        <td>{{task.task}}</td>
        <td>{{task.parentId}}</td>
        <td>{{task.priority}}</td>
        <td>{{task.startDate}}</td>
        <td>{{task.endDate}}</td>
        <td>{{task.status}}</td>
        <td>
          <button mat-stroked-button [routerLink]="['/edit-task', task.taskId]" style="margin-left: 20px;">
            Edit</button>
          <button mat-stroked-button (click)="endTask(task)"> End Task</button>
        </td>
      </tr>
    </table>
  </div>
</div>