<h1 mat-dialog-title>Select a manager for project.</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input type="text" [(ngModel)]="searchText" placeholder="Search..." style="width: 300px;" />
    <table style="width: 300px;">
      <thead>
        <th style="width: 50px;">Id</th>
        <th style="width: 100px;">First Name</th>
        <th style="width: 100px;">Last Name</th>
        <th style="width: 50px;">Select</th>
      </thead>
      <tr *ngFor="let user of users | filter: searchText">
        <td>
          <input disabled matInput [(ngModel)]="user.userId">
        </td>
        <td>
          <input disabled matInput [(ngModel)]="user.firstName">
        </td>
        <td>
          <input disabled matInput [(ngModel)]="user.lastName">
        <td>
          <button mat-button [mat-dialog-close]="user">Select</button>
        </td>
      </tr>
    </table>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>